/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&family=Poppins:wght@100;200;300;400;500&display=swap');

/* common style */
body {
    /* font-family: 'Anek Latin', sans-serif; */
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

header {
    width: 1440px;
    height: 125px;
    background-color: #562EFF;
    margin-bottom: 33px;

}

label.logo {
    color: #FFFFFF;
    font-size: 24px;
    padding: 0 100px;
    font-weight: bold;
}

.logo .logo-image {
    width: 40px;
    height: 51px;
    margin-top: 26px;

}

nav ul {
    list-style: none;
    float: right;
    /* margin-right: 20px; */
    margin: 20px;
    padding-top: 0px;
    text-align: center;

}

nav ul li {
    display: inline-block;
    margin: 0 5px;
    line-height: 80px;
}

nav ul li a {
    color: #FFFFFF;
    font-size: 16px;
}



nav>ul>li>a {
    text-decoration: none;
}

#profile {
    width: 51px;
    height: 51px;
}

a:hover {
    background: #AEAEAE;
}

main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 33px;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 24px;
    border-radius: 5px;

}

hr {
    border: 1px solid #D1D1D1;
    margin-top: 30px;
    margin-bottom: 30px;

}

.section-title {
    margin-top: 3px;
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
}

/* top players style  */
.players {
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players img {
    height: 56px;
    width: 56px;

}

.player-name {
    font-size: 18px;
    margin-left: 16px;
}

/* -------top blog styles section -------------- */
.blogs {
    display: grid;
    grid-row-gap: 26px;
    grid-column-gap: 79px;
    grid-template-columns: repeat(2, 1fr);
}

.blog {
    display: flex;
}

.thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-details {
    margin-left: 16px;
}

.blog-title {
    font-weight: 500;
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    font-size: 16px;
    color: #562EFF;
    text-decoration: none;
}

/* course style section */

.course-banner img {
    width: 224px;
    height: 104px;
    margin: 17px;
}

.box-shadow {
    background: #FFFFFF;
    border-radius: 5px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    margin-left: 23px;
}

.course-title {
    font-size: 20.0336px;
    margin-top: 16.03px;
    margin-left: 12px;
}

.latest-courses {
    display: flex;
}

.course-author {
    font-weight: 400;
    font-size: 14.6913px;
    color: #ED6B4F;
    margin-left: 13px;
}

.course-info {
    display: flex;
    align-items: center;
    margin-left: 13px;
}

.fa-star {
    font-size: 12px;
}

.filled {
    color: #FFC014;
}

.empty {
    color: #AEAEAE;
    opacity: 0.25;
}

.course-rating {
    margin-left: 11px;
}

.course-duration {
    font-size: 15px;
    color: #FF4A60;
    border-radius: 14.6913px;
    background: #FFE4E8;
    margin-left: 26px;
    padding: 6px;

}


/* ------------------
    media queires 
   ------------------
    */


/*--------------------
 Mobile Devices 
 ---------------------*/
@media only screen and (max-width:688px) {
    .container {

        width: 100%;
    }

    header {
        width: 100%;
    }

    .players {
        grid-template-columns: repeat(1, 1fr);
    }

    .player .blog {
        flex-direction: column;
    }



    .blogs {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;


    }

    .latest-courses {
        flex-direction: column;
    }
}